In [5]:
import pandas as pd
df = pd.read_csv('salaries.csv')
df.head()

  company                  job     degree  salary_more_than_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [6]:
input = df.drop('salary_more_than_100k', axis = 'columns')
target = df['salary_more_than_100k']

In [7]:
input.head()

  company                  job     degree
0  google      sales executive  bachelors
1  google      sales executive    masters
2  google     business manager  bachelors
3  google     business manager    masters
4  google  computer programmer  bachelors

In [8]:
target.head()

0    0
1    0
2    1
3    1
4    0
Name: salary_more_than_100k, dtype: int64

In [13]:
from sklearn.preprocessing import LebelEncoder

ImportError: cannot import name 'LebelEncoder' from 'sklearn.preprocessing' (c:\users\hi\appdata\local\programs\python\python38-32\lib\site-packages\sklearn\preprocessing\__init__.py)

In [ ]:
le_company = LebelEncoder()
le_job = LebelEncoder()
le_degree = LebelEncoder()